<div class="encabezado" align="center">
    <div class="container">
        <h1 class="display-3"><strong>Super Market</strong></h1>
    </div>
</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style=" padding-top: 0mm;">
        <a id='linkWelcome' class="navbar-brand" [routerLink]="['/perfil-cliente']">Perfil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Tarjetas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: rgb(146, 158, 212);">
                            <a class="dropdown-item" [routerLink]="['/tarjetas-registradas']">Tarjetas registradas</a>
                          <a class="dropdown-item" [routerLink]="['/agregar-tarjeta']">Nueva tarjeta</a>
                          <a class="dropdown-item" [routerLink]="['/eliminar-tarjeta']">Eliminar tarjeta</a>
  
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Comprar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: rgb(146, 158, 212);">
                            <a class="dropdown-item" [routerLink]="['/comprar-a-clientes']">Productos de clientes</a>
                          <a class="dropdown-item" [routerLink]="['/comprar-a-proveedores']">Productos de proveedores</a>
                          <a class="dropdown-item" [routerLink]="['/productos-categoria']">Productos por categoria</a>
  
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <a id="linkRegister" class="nav-link" [routerLink]="['/carrito']">Mi Carrito</a>
                </li>
                <li class="nav-item">
                  <a id="linkRegister" class="nav-link" [routerLink]="['/cliente-favoritos']">Favoritos</a>
              </li>
              <li class="nav-item">
                <a id="linkRegister" class="nav-link" [routerLink]="['/mis-facturas']">Facturas</a>
            </li>
              <li class="nav-item">
                <a id="linkRegister" class="nav-link" [routerLink]="['/mis-compras']">Compras</a>
            </li>
            <li class="nav-item">
              <a id="linkRegister" class="nav-link" [routerLink]="['/ofertas-cliente']">Mis ofertas</a>
          </li>
          <li class="nav-item">
            <a id="linkRegister" class="nav-link" [routerLink]="['/estado-pedido']">Rastrear pedido</a>
        </li>  
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Vender productos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:rgb(146, 158, 212);">
                          <a class="dropdown-item" [routerLink]="['/ventas-cliente']">Mis ventas</a>
                          <a class="dropdown-item" [routerLink]="['/productos-cliente']">Mis productos</a>
                          <a class="dropdown-item" [routerLink]="['/productos-subasta-cliente']">Productos en subasta</a>
                          <a class="dropdown-item" [routerLink]="['/cl-agregar-producto']">Agregar producto</a>
                          <a class="dropdown-item" [routerLink]="['/cl-actualizar-producto']">Editar producto</a>
                          <a class="dropdown-item" [routerLink]="['/cl-eliminar-producto']">Eliminar producto</a>
                        </div>
                      </div>
                </li>
            
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn btn-danger" (click)="cerrar_sesion();">Cerrar Sesión</button>
              </span>
        </div>
</nav>
     
