<app-nav-bar-cliente></app-nav-bar-cliente>


  <div class="container">
    <div class="row row-cols-5" >
        <div *ngFor="let vec of vector_aux;" class="col"  style=" padding:20px; ">
            <div class="card" >
                <img class="card-img-top" src={{vec[6]}} width="auto" height="220px" alt="">
            <div class="card-body">
            <p class="card-text">{{vec[0]}}</p>
            <p class="card-text">{{"Stock "+vec[9]}}</p>
            <p *ngIf="vec[3]==1" class="card-text">{{"Q."+vec[7]}}</p>
            <p *ngIf="vec[3]==2" class="card-text">{{"Subasta Q."+vec[8]}}</p>
            <button button type="button" class="btn btn-warning" (click)='agregar_favoritos(id_cliente,vec[0],vec[7],vec[4])' title="Añadir a favoritos">☆</button>
            <button *ngIf="vec[3]==1" button type="button" class="btn btn-dark" (click)='comprar(id_cliente,vec[0],vec[4],vec[7])' title="Agregar al carrito">🛒</button>
            <button *ngIf="vec[3]==2" button type="button" class="btn btn-success" (click)='ofertar(id_cliente,vec[4])'>Ofertar</button>
            <br>
            </div>
            </div>

        </div>
    </div>
</div>


<app-pie-pagina></app-pie-pagina>
