<app-nav-bar-proveedor></app-nav-bar-proveedor>
<div class="container" style="padding-top: 20px; padding-bottom: 50px; ">
    <div class="row">
        <div class="col-md-4">
            <br>
            <br>
            <h2>¡Bienvenido a tu perfil!</h2>
            <br>
            <div>
                <button type="button" class="btn btn-success" [routerLink]="['/registercli']">Gestionar productos</button>
            </div>
        </div>
        <div class="col-md-4">
            <img class="d-block" width="500px" src="assets/ventas.gif">
        </div>
        
       
    </div>
</div>

<app-pie-pagina></app-pie-pagina>