<app-nav-bar-cliente></app-nav-bar-cliente>


  <div class="container">
        <br>
        <br>
        <h2 align="center">Mis favoritos</h2>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
              <tr>
                
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vec of vector_aux;">
              
                <td>{{vec[1]}}</td>
                <td>{{vec[2]}}</td>
                <td><button type="button" class="btn btn-danger" (click)='eliminar_fav(vec[0]);' >Quitar</button></td>    
              </tr>
              
            </tbody>
          </table>
        <br>
        <br>
</div>


<app-pie-pagina></app-pie-pagina>

