<app-nav-bar-cliente></app-nav-bar-cliente>


<form>
      
    <div class="form-group" style="padding:20px; " >
       
      <br>
        <div class="form-group" align="right">
          <input type='button' (click)='filtrar();' class='btn btn-primary' #sendButton value='Filtrar por categoria'>
        </div>
        <h3 align="center">Resultados para: {{categoria}}</h3>
      </div>
  </form>

  <div class="container">
    <div class="row row-cols-5" >
        <div *ngFor="let vec of vector_aux;" class="col"  style=" padding:20px; ">
            <div class="card" >
                <img class="card-img-top" src={{vec[6]}} width="auto" height="220px" alt="">
            <div class="card-body">
            <p class="card-text">{{vec[0]}}</p>
            <p class="card-text">{{"Stock "+vec[9]}}</p>
            <p *ngIf="vec[3]==1" class="card-text">{{"Q."+vec[7]}}</p>
            <p *ngIf="vec[3]==2" class="card-text">{{"Subasta Q."+vec[8]}}</p>
            <br>
            </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-pie-pagina></app-pie-pagina>
