<app-nav-bar-cliente></app-nav-bar-cliente>

<div class="container" style="padding-top: 50px; padding-bottom: 50px; ">
    <div class="row">
        <div class="col-md-4">
            <h2>¡Nuevos productos!</h2>
            <br>
            <p>Date una vuelta por el catálogo, todos los días hay nuevos productos.</p>
            <br>
            <div>
                <button type="button" class="btn btn-success" [routerLink]="['/registercli']">Ver el catálogo</button>
            </div>
        </div>
        <div class="col-md-4">
            <img class="d-block" width="800px" src="assets/sale.gif">
        </div>
       
    </div>
</div>

<app-pie-pagina></app-pie-pagina>