<app-u-nav-bar-cliente></app-u-nav-bar-cliente>

<div class='container' style="padding-bottom:20px; ">
    <form>
        <br>
        <div align="center">
          <h3>Agregar Nuevo producto</h3>
        </div>
        <br>
      <div class="form-group"  >
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.nombre' name='Nombre' [(ngModel)]="nombre">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.descripcion' name='descripcion' [(ngModel)]="descripcion">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.stock' name='Stock' [(ngModel)]="stock">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.precio_venta' name='precio_venta' [(ngModel)]="precio_venta">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.foto' name='foto' [(ngModel)]="foto">
          </div>
          <div class="form-group">
            <input  type='text' class='form-control' [placeholder]='placeholders.fecha_subasta' name='fecha_subasta' [(ngModel)]="fecha_subasta">
          </div>
          <div class="form-group">
            <input  type='text' class='form-control' [placeholder]='placeholders.precio_inicial_subasta' name='precio_inicial_subasta' [(ngModel)]="precio_inicial_subasta">
          </div>
          <div class="form-group">
            <input  type='text' class='form-control' [placeholder]='placeholders.precio_compralo_ahora' name='precio_compralo_ahora' [(ngModel)]="precio_compralo_ahora">
          </div>

          <div class="form-group">
            <input type='button' (click)='registrarProducto();' class='btn btn-primary' #sendButton value='Guardar'>
            </div>
            
      </div>
    </form>
  </div>
<app-pie-pagina></app-pie-pagina>
