<app-nav-bar-proveedor></app-nav-bar-proveedor>

<div class='container' style="padding-bottom:20px; ">
    <form>
        <br>
        <div align="center">
          <h3>Agregar Nuevo producto</h3>
        </div>
        <br>
      <div class="form-group"  >
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.nombre' name='Nombre' [(ngModel)]="nombre">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.precio_venta' name='Precio_venta' [(ngModel)]="precio_venta">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.stock' name='Stock' [(ngModel)]="stock">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.categoria' name='Categoria' [(ngModel)]="categoria">
          </div>
          <div class="form-group">
            <input type='text' class='form-control' [placeholder]='placeholders.imagen' name='Imagen' [(ngModel)]="imagen">
          </div>
          <div class="form-group">
            <input type='button' (click)='registrarProducto();' class='btn btn-primary' #sendButton value='Guardar'>
            </div>
      </div>
    </form>
  </div>
<app-pie-pagina></app-pie-pagina>

